__pycache__/create_study_bank.cpython-310.pyc
__pycache__/get_class_schedule.cpython-310.pyc
__pycache__/launch_zoom.cpython-310.pyc
__pycache__/gsearch.cpython-310.pyc
__pycache__/auto_title_page.cpython-310.pyc
settings.json
